registry=https://npm.shopee.io
grpc-node-binary-host-mirror=https://npm.taobao.org/mirrors/
sass-binary-site=https://npm.taobao.org/mirrors/node-sass
sentrycli-cdnurl=https://npm.taobao.org/mirrors/sentry-cli